	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo">
						<a class='nav-logo' href="http://slidingsolutions.com" aria-label="Sliding Solutions homepage">
						<h2>SLIDING SOLUTIONS</h2>
					<!-- <img class="company-logo" src="images/logo.png" alt="Sliding Solutions company logo"/> -->
					</a>
					</div>
					<ul>
						<li><a href="#"><i class="fas fa-concierge-bell"></i> Services</a></li>
						<li><a href="#"><i class="fas fa-user"></i> Faq's</a></li>
						<li><a href="contact" target="_blank"><i class="fas fa-phone"></i> Contact Us</a></li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h2>CONNECT WITH US</h2>
					<ul>
						<li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
						<li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
						<li><a href="http://www.instagram.com/sliding_solutions/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h2>GET AWESOME UPDATES</h2>
					<p>Enter your email address for news and updates from Sliding Solutions.</p>
					<div id="sign-up">
						<form action="" method="POST">
							<div class="input-wrapper">
								<div class="input-group">
							      	<input type="email" value="" name="EMAIL" class="form-control" placeholder="Email address" id="mce-EMAIL">
							      	<span class="input-group-btn">
							        	<button class="btn btn-default" type="button"><i class="fa fa-chevron-right"></i></button>
							      	</span>
							    </div><!-- /input-group -->
	                      	</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</footer>