	<nav class="navbar navbar-default navbar-top">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
		<ul class="navTop">
			<li class="logo">
				<a class='nav-logo' href="http://desertcitiesslidingdoor.com" target="_blank" aria-label="Sliding Solutions homepage">
					
					<img class="company-logo" src="images/logo.png" alt="Sliding Solutions company logo"/>
				</a>
			</li>
			<li class="call"><i class="fas fa-phone"></i><p> 1800-49SLIDING</p></li>
		</ul>
	</nav>
		
	<nav class="nav-main">
		<ul class="navTop-768">
			<li class="call"><i class="fas fa-phone"></i><p> 1800-49SLIDING</p></li>
		</ul>
		<ul class="navRoot">
			<li class="primary">
					<button id="services" class="btn hover"><i class="fas fa-concierge-bell"></i> Services<i class="fas fa-angle-down"></i></button>
					<div class="submenu">
						<ul>
							<li class="back"><a href="repair-services" target="_blank">Repair Services</a></li>
							<li class="back"><a href="install-servies" target="_blank">New Installations</a></li>
						</ul>
					</div>
					<button id="company" class="btn hover"><i class="fas fa-building"></i> Company<i class="fas fa-angle-down"></i></button>
					<div class="submenu">
						<ul>
							<li class="back"><a href="#" target="_blank">FAQ's</a></li>
							<li class="back"><a href="about" target="_blank">Who We Are</a></li>
							<li class="back"><a href="contact" target="_blank">Free Estimates</a></li>
						</ul>
					</div>
					<button id="gallery" class="btn hover"><i class="fas fa-images"></i> Gallery<i class="fas fa-angle-down"></i></button>
					<div class="submenu">
						<ul>
							<li class="back"><a href="gallery-sliding-doors" target="_blank">Sliding Glass Doors</a></li>
							<li class="back"><a href="wardrobe-shower-doors" target="_blank">Wardrobe & Shower Doors</a></li>
							<li class="back"><a href="pocket-dog-doors" target="_blank">Pet Doors & Pocket Doors</a></li>
							<li class="back"><a href="lock-handle-sliders" target="_blank">Track / Lock and Handle</a></li>
						</ul>
					</div>
				<a class="back rounded" href="contact" target="_blank">Contact Us</a>
				<a href="contact" target="_blank"><button class="back btn btn-768"><i class="fas fa-phone"></i> Contact</button></a>
			</li>
		</ul>
	</nav>
	<div class="body-container">
		<div class="container-lg">
			<!-- Drop Down -->
			<div class="dropdown-arrow"></div>
			<div class="dropdown-root">
				<!-- SERVICES DROPDOWN -->
				<div class="dropdown services">
					<div class="dropdownHeader">
						<a class="link-container" href="#">
							<img class="dropdown-icon" src="images/fix.svg" alt="Replace your current sliders / window icon"/>
							<h3>REPAIR SERVICES</h3>
							<p>Anything we install we also repair</p>
						</a>
					</div>
					<ul class="repair-services-items">
						<li><a class="dropdown-items" href="repair-services" target="_blank">Closet Door Repair</a><i class="fa fa-chevron-right"></i></li>
						<li><a class="dropdown-items" href="repair-services" target="_blank">Patio Door Repair</a><i class="fa fa-chevron-right"></i></li>
						<li><a class="dropdown-items" href="repair-services" target="_blank">Pocket Door Repair</a><i class="fa fa-chevron-right"></i></li>
						<li><a class="dropdown-items" href="repair-services" target="_blank">Shower Door Repair</a><i class="fa fa-chevron-right"></i></li>
						<li><a class="dropdown-items" href="repair-services" target="_blank">Sliding Door Repair</a><i class="fa fa-chevron-right"></i></li>
					</ul>
					<div class="dropdownHeader">
						<a class="link-container" href="#">
								<img class="dropdown-icon" src="images/replace.svg" alt="Replace your current sliders / window icon"/>
								<h3>NEW INSTALLATIONS</h3>
								<p>We repair just about anything</p>
							</a>
					</div>
					<ul class="new-install-items">
						<li>
							<ul class="repair-services-items">
								<li><a class="dropdown-items" href="install-services" target="_blank">Closet Door Install</a><i class="fa fa-chevron-right"></i></li>
								<li><a class="dropdown-items" href="install-services" target="_blank">Patio Door Install</a><i class="fa fa-chevron-right"></i></li>
								<li><a class="dropdown-items" href="install-services" target="_blank">Pocket Door Install</a><i class="fa fa-chevron-right"></i></li>
								<li><a class="dropdown-items" href="install-services" target="_blank">Shower Door Install</a><i class="fa fa-chevron-right"></i></li>
								<li><a class="dropdown-items" href="install-services" target="_blank">Sliding Door Install</a><i class="fa fa-chevron-right"></i></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- COMPANY DROPDOWN -->
				<div class="dropdown company">
					<ul>
						<li>						
							<a class="link-container" href="#">
								<img class="dropdown-icon" src="images/faq.svg" alt="Faq's icon"/>
								<h3>FAQ'S</h3>
								<p>From quick tips to common problems</p>
							</a>
						</li>
						<li>
							<a class="link-container" href="about">
								<img class="dropdown-icon" src="images/about.svg" alt="About us icon"/>
								<h3>WHO WE ARE</h3>
								<p>Sliding Solutions beginnings and current achievements</p>
							</a>
						</li>
						<li>
							<a class="link-container" href="contact">
								<img class="dropdown-icon" src="images/estimate.svg" alt="Free estimate image"/>
								<h3>FREE ESTIMATE</h3>
								<p>Contact us for a free estimate</p>
							</a>
						</li>
					</ul>
				</div>
				<!-- GALLERY DROPDOWN -->
				<div class="dropdown gallery">
					<div class="dropdownHeader">
						<a class="link-container" href="#">
							<img class="dropdown-icon" src="images/gallery.svg" alt="Image gallery installed work"/>
							<h3>Gallery</h3>
							<p>Image gallery of professional installations</p>
						</a>
					</div>
					<ul class="gallery-items">
						<li><a class="dropdown-items" href="gallery-sliding-doors" target="_blank">Sliding Glass Doors</a><i class="fa fa-chevron-right"></i></li>
						<li><a class="dropdown-items" href="wardrobe-shower-doors" target="_blank">Wardrobe & Shower Doors</a><i class="fa fa-chevron-right"></i></li>
						<li><a class="dropdown-items" href="pocket-dog-doors" target="_blank">Pet Doors & Pocket Doors</a><i class="fa fa-chevron-right"></i></li>
						<li><a class="dropdown-items" href="lock-handle-sliders" target="_blank">Track / Lock and Handle</a><i class="fa fa-chevron-right"></i></li>
					</ul>
				</div>
			</div>
		</div>
	