<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Who We Are</title>
    <link rel="canonical" href="http://desertcitiesslidingdoor.com/about.html">
    <meta property="og:image" content="http://desertcitiesslidingdoor.com/images/logo.png">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="business">
	<meta property="og:title" content="Contact">
	<meta property="og:description" content="Who we are and how we got there">
	<meta property="og:image" content="http://desertcitiesslidingdoor.com/images/decision.svg">
	<meta property="og:image" content="http://desertcitiesslidingdoor.com/images/fix.svg">
	<meta property="og:image" content="http://desertcitiesslidingdoor.com/images/best-price.jpg">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="Started with an idea, that idea led to multiple sliding door repair shops across southern California.">
	<meta name="twitter:title" content="#1 Sliding Door Repair Coachella Valley. Glass, Patios, &amp; More!">
	<meta name="twitter:image" content="http://desertcitiesslidingdoor.com/images/best-price.svg">
	<meta name="twitter:title" content="About Us">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/whoweare.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Parisienne|Montserrat|Parisienne" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="application/ld+json">
	{
		"@context": "http://schema.org,
		"@type": "Service",
		"serviceType": "Window installation",
		"url": "http://desertcitiesslidingdoor.com/",
		"name": "Sliding Solutions",
		 "provider": {
		  "@type": "LocalBusiness",
		  "name": "Sliding Solutions"
		},
		"contactPoint": {
			"@type": "ContactPoint",
			"telephone": "760-295-8500"
		}
	}
	</script>
</head>
<body>

	<div class="body-wrapper"></div>
	<div class="header-img">
		<img src="images/about-header-window.svg" alt="vector window with background contact representative"/>
		<div class="opacity-wrapper"></div>
	</div>
	
	{{>nav}}
	<!-- End of Dropdown nav -->
	<header class="header">
		<div class="headline">
			<div class="container-lg">
				<!-- <h1 class="headline-header">Sliding Solutions goal is to keep your sliding doors and windows work efficiently as they were designed to</h1> -->
				<h1 class="headline-header">Sliding Solutions Beginnings and Current Achievements.</h1>	
				<h2 class="headline-text">Family owned business that started with an idea, that vision led to more than 10 years establishment to their credit</h2>		
      			<!-- <h2 class="headline-text">Sliding Solutions beginnings to the most successful sliding window company in the San Diego area.</h2> -->
      			<div class="container-fluid">
      				<div class="row">
      					<div class="col-sm-5">

      					</div>
      					<div class="devider col-sm-1">
      						<div class="splitter"></div>

      					</div>
      					<div class="col-sm-5">

      					</div>
      				</div>
      			</div>
			</div>
		</div>
	</header>
	{{>footer}}
	</div> <!--body-container from nav-->



	<!-- Local files -->
	<!-- <script type='text/javascript' src='js/maintwo.js'></script> -->
	<script type='text/javascript' src='js/main.js'></script>
	<!-- <script type='text/javascript' src='js/form.js'></script> -->
</body>
</html>
