<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Intallation Gallery</title>
    <link rel="canonical" href="http://desertcitiesslidingdoor.com/gallery-sliding-doors">
    <meta property="og:image" content="http://desertcitiesslidingdoor.com/images/logo.png">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="business">
	<meta property="og:title" content="Full photo gallery of sliding glass doors and installations">
	<meta property="og:description" content="We like to showcase a full gallery of all new sliding doors installations and work performed by our professional team">
	<meta property="og:image" content="http://desertcitiesslidingdoor.com/images/decision.svg">
	<meta property="og:image" content="http://desertcitiesslidingdoor.com/images/fix.svg">
	<meta property="og:image" content="http://desertcitiesslidingdoor.com/images/best-price.jpg">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="We like to showcase a full gallery of all new sliding doors installations and work performed by our professional team">
	<meta name="twitter:title" content="Full photo gallery of sliding glass doors and installations">
	<meta name="twitter:image" content="http://desertcitiesslidingdoor.com/images/best-price.svg">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/gallery.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Parisienne|Montserrat|Parisienne" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="application/ld+json">
	{
		"@context": "http://schema.org,
		"@type": "Service",
		"serviceType": "Window installation",
		"url": "http://desertcitiesslidingdoor.com/",
		"name": "Sliding Solutions",
		 "provider": {
		  "@type": "LocalBusiness",
		  "name": "Sliding Solutions"
		},
		"contactPoint": {
			"@type": "ContactPoint",
			"telephone": "760-295-8500"
		}
	}
	</script>
	</script>
</head>
<body>
<div class="body-wrapper"></div>
	<div class="header-img">
		<img src="images/gallery-header-window.svg" alt="vector window with background"/>
		<div class="opacity-wrapper"></div>
	</div>
	{{>nav}}
		<section>
			<header class="gallery-section container-fluid">
				<img class="gallery-svg" src="images/sliding-window-gallery.svg" alt="sliding doors and beach front windows svg image"/>
				<div class="header-content">
					<h1>Sliding Glass Doors and Ocean Front Windows</h1>
					<!-- <h1>SLIDING GLASS DOORS AND OCEAN FRONT WINDOWS</h1> -->
					<p>View the vast collection of our tech's workmanship. Every day living to stylish ocean front windows are all done by professionals.</p>
				</div>
			</header>
			<div class="container img-container">
				<div class="row">
					<div class="col-sm-3">
						<img class="img-responsive" src="images/gallery/sliding-window-one.jpg" alt="Full view ocean front sliding window" />
					</div>
					<div class="col-sm-3">
						<img class="img-responsive" src="images/gallery/sliding-window-two.jpg">
					</div>
					<div class="col-sm-3">
						<img class="img-responsive" src="images/gallery/sliding-window-three.jpg">
					</div>
					<div class="col-sm-3">
						<img class="img-responsive" src="images/gallery/sliding-window-four.jpg">
					</div>
				</div>
			</div>
		</section>
	{{>footer}}
  	</div> <!--End of body-container from nav.hbs-->



<script type='text/javascript' src='js/main.js'></script>
</body>
</html>





