<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
	  	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132551201-1"></script>
	<script>
	    window.dataLayer = window.dataLayer || [];
	    function gtag(){dataLayer.push(arguments);}
	    gtag('js', new Date());

	    gtag('config', 'UA-132551201-1');
	</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Repair Services</title>
    <meta name="google-site-verification" content="PLzeoPj3QASpZNfhRaD9K-xCOPpZVC-Dketw9TBF-iI" />
    <link rel="canonical" href="http://desertcitiesslidingdoor.com/repair-services">
    <meta property="og:image" content="http://desertcitiesslidingdoor.com/images/logo.png">
    <meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="business">
	<meta property="og:title" content="Repair Services">
	<meta property="og:description" content="Sliding Glass doors, wardrobe doors, ocean front doors don't always need to be replaced, by replacing track sliders and rollers it can make it feel new again.">
	<meta property="og:url" content="http://desertcitiesslidingdoor.com/">
	<meta property="og:image" content="http://www.desertcitiesslidingdoor.com/images/repair-header-window.jpg">
	
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="Sliding Glass doors, wardrobe doors, ocean front doors don't always need to be replaced, by replacing track sliders and rollers it can make it feel new again.">
	<meta name="twitter:title" content="Repair Services">
	<meta name="twitter:image" content="http://www.desertcitiesslidingdoor.com/images/logo.png">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/repair-install.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Parisienne|Montserrat|Parisienne" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="application/ld+json">
	{
		"@context": "http://schema.org,
		"@type": "Service",
		"serviceType": "Window installation",
		"url": "http://desertcitiesslidingdoor.com/",
		"name": "Desert Cities Sliding Door",
		 "provider": {
		  "@type": "LocalBusiness",
		  "name": "Desert Cities Sliding Door"
		},
		"contactPoint": {
			"@type": "ContactPoint",
			"telephone": "760-295-8500"
		}
	}
	</script>
</head>
<body>
<div class="body-wrapper"></div>
	<div class="header-img">
		<img src="images/repair-header-window.svg" alt="vector window repair window with background"/>
		<div class="opacity-wrapper"></div>
	</div>
	{{>nav}}
		<header class="gallery-section container-fluid">
				<img class="service-png" src="images/repair.svg" alt="Locks and and door handles, sliding window steel rollers svg image"/>
				<div class="header-content">
					<h1>Repair Services</h1>
					<p>Sliding Glass doors, wardrobe doors, ocean front doors don't always need to be replaced, by replacing track sliders and rollers it can make it feel new again. Our team pinpoints the precise causes of malfunctioning parts.</p>
				</div>
			</header>
		<section>
			<div class="service container">
				<div class="col-md-12">
					<div class="card-info">
						<i class="menu-arrow fas fa-angle-down"></i>
						<h2>Closet Door Repair</h2>
						<h4>quick about</h4>
						<div class="service-info">
							<p> Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
									Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								 Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card-info">
						<i class="menu-arrow fas fa-angle-down"></i>
						<h2>Patio Door Repair</h2>
						<h4>quick about</h4>
						<div class="service-info">
							<p> Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								 Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card-info">
						<i class="menu-arrow fas fa-angle-down"></i>
						<h2>Pocket Door Repair</h2>
						<h4>quick about</h4>
						<div class="service-info">
							<p> Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								 Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card-info">
						<i class="menu-arrow fas fa-angle-down"></i>
						<h2>Shower Door Repair</h2>
						<h4>quick about</h4>
						<div class="service-info">
							<p> Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								 Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								  Coming Soon  Coming Soon  Coming SoonComing Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon   Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card-info">
						<i class="menu-arrow fas fa-angle-down"></i>
						<h2>Sliding Door Repair</h2>
						<h4>quick about</h4>
						<div class="service-info">
							<p> Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon 
								 Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  Coming Soon  
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{{>footer}}
  	</div> <!--End of body-container from nav.hbs-->






	<script type='text/javascript' src='js/main.js'></script>
	</body>
	</html>