<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
	  	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132551201-1"></script>
	<script>
	    window.dataLayer = window.dataLayer || [];
	    function gtag(){dataLayer.push(arguments);}
	    gtag('js', new Date());

	    gtag('config', 'UA-132551201-1');
	</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Repair Services</title>
    <meta name="google-site-verification" content="PLzeoPj3QASpZNfhRaD9K-xCOPpZVC-Dketw9TBF-iI" />
    <link rel="canonical" href="http://desertcitiesslidingdoor.com/repair-services">
    <meta property="og:image" content="http://desertcitiesslidingdoor.com/images/logo.png">
    <meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="business">
	<meta property="og:title" content="Repair Services">
	<meta property="og:description" content="Sliding Glass doors, wardrobe doors, ocean front doors don't always need to be replaced, by replacing track sliders and rollers it can make it feel new again.">
	<meta property="og:url" content="http://desertcitiesslidingdoor.com/">
	<meta property="og:image" content="http://www.desertcitiesslidingdoor.com/images/repair-header-window.jpg">
	
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="Sliding Glass doors, wardrobe doors, ocean front doors don't always need to be replaced, by replacing track sliders and rollers it can make it feel new again.">
	<meta name="twitter:title" content="Repair Services">
	<meta name="twitter:image" content="http://www.desertcitiesslidingdoor.com/images/logo.png">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/repair-install.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Parisienne|Montserrat|Parisienne" rel="stylesheet">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="application/ld+json">
	{
		"@context": "http://schema.org,
		"@type": "Service",
		"serviceType": "Window installation",
		"url": "http://desertcitiesslidingdoor.com/",
		"name": "Desert Cities Sliding Door",
		 "provider": {
		  "@type": "LocalBusiness",
		  "name": "Desert Cities Sliding Door"
		},
		"contactPoint": {
			"@type": "ContactPoint",
			"telephone": "760-295-8500"
		}
	}
	</script>
</head>
<body>
<div class="body-wrapper"></div>
	<div class="header-img">
		<img src="images/repair-header-window.svg" alt="vector window repair window with background"/>
		<div class="opacity-wrapper"></div>
	</div>
	{{>nav}}
		<header class="gallery-section container-fluid">
				<img class="service-png" src="images/repair.svg" alt="Locks and and door handles, sliding window steel rollers svg image"/>
				<div class="header-content">
					<h1>Repair Services</h1>
					<p>Sliding Glass doors, wardrobe doors, ocean front doors don't always need to be replaced, by replacing track sliders and rollers it can make it feel new again. Our team pinpoints the precise causes of malfunctioning parts.</p>
				</div>
			</header>
		<section>
			<div class="service container">
				<div class="col-md-12">
					<div class="card-info">
						<i class="menu-arrow fas fa-angle-down"></i>
						<h2>Closet Door Repair</h2>
						<h4>Frames, tracks, rollers we fix it</h4>
						<div class="service-info">
							<p> Every residence has a closet, and everyone needs a full length dressing mirror. Mirror closet doors satisfy both of those requirements in a practical, functional stylish fashion. Because these get used often they don't always function in a practical manner and can be quite annoying. Our tea also have solutions to making a non functional door come functional again. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card-info">
						<i class="menu-arrow fas fa-angle-down"></i>
						<h2>Patio Sliding Door Repair</h2>
						<h4>Are you having difficulty opening or closing your windows or doors? </h4>
						<div class="service-info">
							<p> As noted, patio doors are available in homes, businesses, restaurants, and even offices that want maximum visibility and light. We provide repair or maintenance services for patio glass doors. The most common failure on sliding patio doors is the roller (wheel) being worn out or bent over time, which means they should be adjusted or replaced. It is important to note that in case of damaged rollers if a technician came to you, take advantage of the visit by replacing both rollers and avoid calling a technician and paying extra for the second roller. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card-info">
						<i class="menu-arrow fas fa-angle-down"></i>
						<h2>Pocket Door Repair</h2>
						<h4>Due to the door being hidden Sliding Solution professionals can spot the problem</h4>
						<div class="service-info">
							<p> One of the more difficult doors to fix are pocket doors because they go inside the wall and sometimes there isn’t an easy way to access the door assemblies in order to replace or adjust the top/bottom rails or rollers.<br><br>

								Sliding pocket doors are typically found in closets area, bathrooms, kitchens or bedrooms, and consequently, it is customary to use them frequently. If you notice that it is difficult to open or close the door, we recommend that you book an appointment with a technician during your first few weeks of failure because sometimes it is just a loose screw that needs to be screwed back in place. This is relatively cheaper to repair when compared to replacing it with a new part.<br><br>

								If there is a need to repair a more complex pocket door, such as creating an access to the door’s assembly by dismantling some of the drywall, it is recommended that you choose a reliable and professional door company that will know how to perform the decomposition and reconstruction of the wall in an esthetic way.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card-info">
						<i class="menu-arrow fas fa-angle-down"></i>
						<h2>Shower Door Repair</h2>
						<h4>Water escapes from the sides, tired of it not rolling or opening correctly?</h4>
						<div class="service-info">
							<p></p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card-info">
						<i class="menu-arrow fas fa-angle-down"></i>
						<h2>Track Replacement</h2>
						<h4>If you have a broken or curved track, this may cause gaps between the door and its frame</h4>
						<div class="service-info">
							<p> Sliding doors are getting off tracks for various reasons. Where the main reason is not related to the track at all, it is the rollers that are not aligned properly or worn out. If your patio door is out of the tracks, do not attempt to put it back unless you know where the weak spots are on these doors. If the frame that holds the glass is not reinforced and has become loose over the years, it is easy to get the glass broken and separate it from the frame.<br><br>

							When the rollers are not aligned or worn out, it requires a larger force to open or close the door, and usually, the lower part of the door will be dragged on the track and will cause it to be worn or bent. When the track is broken, cracked or has significant curves that cannot be aligned, the replacement of new rollers will help because the door will be heavy and inconvenient to operate alone. In this case, a new track needs to be installed.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{{>footer}}
  	</div> <!--End of body-container from nav.hbs-->






	<script type='text/javascript' src='js/main.js'></script>
	</body>
	</html>