<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact</title>
    <link rel="canonical" href="http://desertcitiesslidingdoor.com/contact">
    <meta property="og:image" content="http://desertcitiesslidingdoor.com/images/logo.png">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="business">
	<meta property="og:title" content="Contact">
	<meta property="og:description" content="Desert Cities Sliding Door, find email, phone numbers, help and support for Sliding Solutions.">
	<meta property="og:image" content="http://desertcitiesslidingdoor.com/images/decision.svg">
	<meta property="og:image" content="http://desertcitiesslidingdoor.com/images/fix.svg">
	<meta property="og:image" content="http://desertcitiesslidingdoor.com/images/best-price.jpg">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="Desert Cities sliding doors 3800 Oceanic Drive Suite #109 Oceanside, CA 92056 Toll Free 800-4985434 Store:760-295-8500 Shop Fax: 760-295-8500 Fax : 760.859.3823 Cell: 858.518.2265 Email: schedule@slidingsolutions.com For a free quote, complete the form below. For a FREE estimate, Please call: 760-295-8500">
	<meta name="twitter:title" content="#1 Sliding Door Repair San Diego. Glass, Patios, &amp; More!">
	<meta name="twitter:image" content="http://desertcitiesslidingdoor.com/images/best-price.svg">
	<meta name="twitter:title" content="Contact">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/contact.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Great+Vibes|Molle:400i|Mrs+Sheppards|Parisienne" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="application/ld+json">
	{
		"@context": "http://schema.org,
		"@type": "Service",
		"serviceType": "Window installation",
		"url": "http://desertcitiesslidingdoor.com/",
		"name": "Sliding Solutions",
		 "provider": {
		  "@type": "LocalBusiness",
		  "name": "Sliding Solutions"
		},
		"contactPoint": {
			"@type": "ContactPoint",
			"telephone": "760-295-8500"
		}
	}
	</script>
</head>
<body>

	<div class="body-wrapper"></div>
	<div class="header-img">
		<img src="/images/contact-window-header.svg" alt="vector window with background contact representative"/>
		<div class="opacity-wrapper"></div>
	</div>
				
	{{>nav}}
	<!-- End of Dropdown nav -->
	<header class="header">
		<div class="headline">
			<div class="container-lg">
				<h1 class="headline-header">Contact our Sales Team</h1>
  				<h2 class="headline-text">Our team is happy to answer your sales questions. Fill out the form and we’ll be in touch as soon as possible.</h2>
			</div>
		</div>
	</header>
	<div class="background-img">
		<div class="desert-background">
				<img class="img-large-screen" src="/images/desert-background.svg" alt="Desert window background"/>
		</div>
		<section class="form">
			<div class="container">
				{{# if success }}
					<p class="alert alert-success">Thanks for your message, will get back to you shortly</p>
				{{ else }}
					{{# if errors }}
				    	{{# each errors }}
				          <p class="alert alert-danger">{{ this.msg }}</p>
				    	{{/each}}
					{{/if}}
				{{/if}}
				<div class="row">
					<div class="col-md-8">
						<div class="container-lg">
							<div class="estimate">
									<i class="fas fa-hand-holding-usd"></i><h2>For a free quote, complete the form below.</h2>
							</div>
							
							<form id="contact-form" action="/users/contact" method="post" class="form-horizontal">
								
								
							  	<div class="form-group">
							    	<label for="first-name" class="col-sm-3 control-label">First name</label>
							    	<div class="col-sm-9">
							      		<input type="text" name="firstName" class="form-control" id="first-name" placeholder="First name">
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="last-name" class="col-sm-3 control-label">Last name</label>
							    	<div class="col-sm-9">
							      		<input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last name">
							    	</div>
							  	</div>
							  	
							  	<div class="form-group">
							    	<label for="inputEmail" class="col-sm-3 control-label">Email</label>
							    	<div class="col-sm-9">
							      		<input type="email" name="email" class="form-control" id="inputEmail" placeholder="example@yahoo.com">
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="phone" class="col-sm-3 control-label">Phone number</label>
							    	<div class="col-sm-9">
							      		<input type="text" name="phone" class="form-control" id="phone" placeholder="Phone #">
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="website" class="col-sm-3 control-label">Company website</label>
							    	<div class="col-sm-9">
							      		<input type="text" name="website" class="form-control" id="website" placeholder="Company website">
							    	</div>
							  	</div>
							  	<!-- <div class="form-group">
							    	<label for="password" class="col-sm-3 control-label">Password</label>
							    	<div class="col-sm-9">
							      		<input type="password" name="password" class="form-control" id="password" placeholder="Password">
							    	</div>
							  	</div> -->
							  	<div class="form-group">
							    	<label for="inputMessage" class="col-sm-3 control-label">Message</label>
							    	<div class="col-sm-9">
							      		<textarea type="text" name="message" class="inputMessage form-control" id="inputMessage" rows="3"  placeholder="Tell us what what your project is"></textarea>
							    	</div>
							    	<span class="error"></span>
							  	</div>
							  	<div class="form-group">
							    	<div class="col-sm-offset-3 col-sm-9">
							      		<button type="submit" name="submit" value="contact" class="btn btn-default">CONTACT SALES</button>
							    	</div>
							  	</div>
							</form>
						
						</div>
					</div>
					<div class="col-md-4">
						<div class="contact-wrapper">
							<h2>SLIDING SOLUTIONS</h2>
							<div class="company-info">
								<ul class="company-contact-list">
									<li>
										<i class="fas fa-location-arrow"></i><a href="http://maps.google.com/?q=Palm Desert, CA 92211"><p>Coachella Valley<br> Palm Desert, CA 92211</p></a>
									</li>
									<li>
										<i class="fas fa-phone"></i><p>Store:760.295.8500</p>
									</li>
									<li>
										<i class="fas fa-fax"></i><p>Shop Fax: 760.295.8500</p>
									</li>
									<li>
										<i  style="padding: 14px 17px;" class="fas fa-mobile-alt"></i><p> Cell: 760.401.0543</p>
									</li>
									<li>
										<i class="fas fa-envelope"></i><p>Email: officemanager.slidingsolutions@gmail.com</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>  <!--background-img-->
	{{>footer}}
	</div> <!--body-container from nav-->


	<!-- Local files -->
	<script type='text/javascript' src='/js/main.js'></script>
	
</body>
</html>